#
# airs_decon git ignore file
#

# data & misc
*.h5
*.hdf
*.mat
*.fig
*.log
*.core

# tex & xfig
*.aux
*.toc
*.snm
*.nav
*.out
*.pdf
*.png

# archives and packages
*.gz
*.tgz
*.tar
*.zip

# libs and object files
*.a
*.o
*.so

# backup files
*.bak
*~

